@media only screen and (width <= 1100px) {
  .input-container {
    width: 55%;
    margin-top: 20px;
  }
  .todo-item-container {
    margin-top: 40px;
  }
}
@media only screen and (width <= 900px) {
  .input-container input {
    width: 80%;
  }
  .todo-item-container {
    margin-top: 40px;
    width: 90%;
  }
}
@media only screen and (width <= 700px) {
  .input-container {
    width: 90%;
    margin-top: 20px;
  }
  .input-container input {
    width: 80%;
  }
  .todo-item-container {
    margin-top: 40px;
    width: 90%;
  }
}
