* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --darkBg: #2d2d2d;
  --darkText: #2e2e2e;
  --lightBg: #e3e3e3;
  --lightText: #fff;
  --whiteBg: #fff;
  --headerBg: #000000;
  --succcess: #0f6bd4;
  --warn: #e08f0b;
  --error: #fa1f02;
}
.container {
  width: 100%;
  height: 100vh;
}
body {
  background: url("./pexels-polina-kovaleva-5717479.jpg");
  object-fit: cover;
  background-size: cover;
}
header {
  width: 100%;
  background-color: var(--headerBg);
  text-align: center;
  padding: 10px 5px;
  color: var(--lightText);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div {
  width: 100px;
}

.mode-btn {
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background-color: transparent;
}
.mode-btn i {
  font-size: 30px;
}
.todo-item-container {
  background-color: #330b6382;
  width: 50%;
  margin: 0 auto;
  margin-top: 60px;

  overflow-y: auto;
  max-height: 400px;
  border-radius: 10px;
}
.todo-item-container ul li {
  list-style: none;
  margin: 0 auto;
  margin: 10px auto;
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  padding: 2px 8px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #2e2e2e;
}
.todo-item-container ul li span.todoText {
  font-size: 18px;
  font-family: sans-serif;
  display: block;
  width: 200%;
  text-align: justify;
  color: #2d2d2d;
  background-color: rgb(255, 255, 255);
}
.todo-item-container ul li span.date {
  color: rgb(255, 0, 0);
  display: inline-block;
  font-size: 18px;
  width: 30%;
  margin-right: 5%;
  margin-left: 5%;
  font-weight: 800;
}
.todo-item-container ul li span.date i {
  color: #000;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 15px;
}

.todo-item-container ul li button {
  border: none;
  outline: none;
  padding: 8px 5px;
  font-size: 16px;
  background-color: #0f6bd4;
  color: #fff;
  border-radius: 10px;
}

.input-container {
  background: #d857ff5d;
  width: 35%;
  margin: 25px auto;
  padding: 25px 20px;
  display: flex;
  justify-content: center;
}
.input-container input {
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  font-size: 22px;
  padding: 5px 8px;
  color: #000;
}
.input-container button {
  background-color: #0f6bd4;
  color: #fff;
  border: none;
  outline: none;
  font-size: 20px;
  width: 85px;
  height: 30px;
  margin-left: 10px;
}
.starterPage {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("./pexels-polina-kovaleva-5717479.jpg");
  object-fit: cover;
  background-size: cover;
}

.logo {
  margin-top: 15%;
  height: 800px;
  position: relative;
  display: none;
}
.logo .filename {
  width: max-content;
  padding: 10px 25px;
  background: linear-gradient(#a207f0, #f00726);
  margin-left: 20%;
  color: #fff;
  margin-bottom: 50px;
  user-select: none;
  
}
.logo span {
  display: inline-block;
  margin-left: 40%;
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 25px;
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  user-select: none;
  text-align: center;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 5px;
  display: none;
}
.logo .name {
  display: inline-block;
  margin-left: 50%;
  width: max-content;
  padding: 10px 25px;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 4px;
  background: linear-gradient(#aa00ff, #000000);
  user-select: none;
  display: none;
}

.typed-cursor.typed-cursor--blink {
  display: none;
}
